.nav-item{
    margin-right: 0;
    padding: 0;
    color: white;
}

.navbar{
    background-color: #28A745;
    width: 100%;
}

.menu{
    justify-content: end;
}

.contenedor{
    padding: 4%;
    background-color: #28A745;
}

.button{
    text-align: center;
}

.row{
    padding: 4%;
}

.form-label{
    color: white;
    font-weight: 10%;
}

.titulo{
    text-align: center;
    font-weight: 10%;
}

.footer{
    padding: 2%;
    text-align: center;
}

.parrFooter{
    font-weight: 10%;
    color: #707070;
    text-align: center;
}

.nameCard{
    color: #707070;
}

.direction{
    display: inline-block;
    color: #707070;
}

.price{
    display: inline-block;
    color: #707070;
}
.priceVerde{
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    color: #28A745;
}

.card-footer{
    text-align: right;
}

.imagen{
    width: 20%;
    margin: 0%;
}

.menuder{
    width: 20%;
    margin-left: 50%;
}

.navbar-toggler{
    border-color:#FFFFFF80;
}